
/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: black;
    --light: white;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --background: white;
    --text: black;
    --icons: white;
}
html {
    font-family: 'Crimson Text', serif;
    color: var(--dark);
    scroll-behavior: smooth;
}
.showcase  {
  font-size: 20px;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
li {
  margin-bottom: 4.5vh;
}
body {
    background: var(--background);
    line-height: 1.4;
    width: 100vw;
    margin: 0;
}
img {
    width: 100%;
    height: 100%;
}
.filldiv {
  object-fit: cover;
  overflow: hidden;
}
.wrapper {
    display: grid;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vh;
}
.portfoliowrapper {
  display: grid;
  padding-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vh;
}
.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.fade:hover {
  opacity: 50%;
}
/* slider container */
.slider-container {
  width: 100%;
  height: 75vh;
  justify-self: center;
}
/* slider */
#slider {
  overflow: hidden;
}
#slider figure {
	position: relative;
  width: 500%;
  height: 78vh;
	margin: 0;
  animation: 40s slider infinite;
  animation-direction: alternate;
}
#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	40% {
		left: -100%;
	}
	45% {
		left: -200%;
	}
	60% {
		left: -200%;
	}
	65% {
		left: -300%;
	}
	80% {
		left: -300%;
	}
	85% {
		left: -400%;
  }
  100% {
    left: -400%;
  }
}
/* Top Bar */
.top-bar {
  transform: translateY(15%);
  display: grid;
  grid-template-columns: 10fr 36fr 7fr 9fr 8fr 10fr;
}
.top-text {
    font-size: 1.1rem;
}
.logoa {
    transform: translateY(-40%);
    grid-column: 1;
}
.texta {
    grid-column: 3;
}
.textb {
    grid-column: 4;
}
.textc {
    grid-column: 5;
}
.textd {
    grid-column: 6;
}
.b {
    display: block;
    text-decoration: none;
    color: rgb(156, 36, 147);
}
.b:hover {
    color: grey;
}
.active {
    color: rgb(109, 161, 184);
}
/* PORTFOLIO PAGE */
.portfolio-container {
  width: 100%;
  padding-top: 2vh;
  gap: 20px;
  display: grid;
  overflow: hidden;
  grid-template-columns: 49% 49%;
  justify-content: center;
  grid-template-areas: 
  "a b"
  "c d"
  "e f"
  "g h"
  "m n"
  "i j";
}
.portfolio-text {
  color: var(--text);
  font-size: 20px;
  padding-bottom: 2vh;
}
.first-photo {
  grid-area: a;
  overflow: hidden;
}
.second-photo {
  grid-area: b;
  overflow: hidden;
}
.third-photo {
  grid-area: e;
  overflow: hidden;
}
.fourth-photo {
  grid-area: f;
  overflow: hidden;
}
.fith-photo {
  grid-area: m;
  overflow: hidden;
}
.sixth-photo {
  grid-area: n;
  overflow: hidden;
}
.first-text {
  grid-area: c;
}
.second-text {
  grid-area: d;
}
.third-text {
  grid-area: g;
}
.fourth-text {
  grid-area: h;
}
.fith-text {
  grid-area: i;
}
.sixth-text {
  grid-area: j;
}
/* About page */
.aboutcontainer {
  padding-top: 2vh;
  display: grid;
  grid-template-rows: 30vh 30vh 15vh 32vh 24vh;
  grid-template-columns: 40% 2% 28% 2% 28%;
  width: 100%;
  height: 121vh;
  grid-template-areas: 
  "q . r r r"
  "q . v . w"
  "t . s s s"
  "t . y . z"
  "six . u u u";
}
.aboutimageone {
  grid-area: q;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.aboutimagetwo {
  grid-area: v;
}
.aboutimagethree {
  grid-area: w;
}
.aboutimagefour {
  grid-area: y;
}
.aboutimagefive {
  grid-area: z;
}
.aboutimagesix {
  grid-area: six;
}
.abouttextone {
  grid-area: r;
  margin: auto;
  font-size: 20px;
  word-spacing: 4px;
  line-height: 30px;
}
.abouttexttwo {
  grid-area: s;
  margin: auto;
  font-size: 20px;
  word-spacing: 4px;
  line-height: 30px;
}
.abouttextthree {
  grid-area: t;
  font-size: 20px;
  margin: auto;
}
.abouttextfour {
  grid-area: u;
  font-size: 20px;
  word-spacing: 4px;
  line-height: 30px;
  margin: auto;
}
/* Contact page */
.contact-container {
  width: 100%;
  padding-top: 2vh;
  display: grid;
  overflow: hidden;
  justify-content: center;
  grid-template-areas: 
  "a"
  "b";
}
.email {
  text-decoration: none;
  color: black;
  grid-area: a;
}
.phone {
  grid-area: b;
}
/* First image page */
.firstimage-title {
  padding-top: 3vh;
  position: relative;
  font-size: 3.5rem;
  max-height: 4em;
  font-weight: 600;
  color: var(--text);
  grid-row-start: 1;
  grid-column: 2;
  text-align: center;
}
.imageonecontainer {
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  width: 100%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  "q q q";
}
.imageone {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwo {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethree {
  grid-area: o;
}
.imagefour {
  grid-area: q;
  margin-top: 2vh;
}
.titleone {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textone {
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwo {
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* Second image page */
.secondimage-title {
  padding-top: 3vh;
  position: relative;
  font-size: 3.5rem;
  max-height: 4em;
  font-weight: 600;
  color: var(--text);
  grid-row-start: 1;
  grid-column: 2;
  text-align: center;
}
.imagetwocontainer {
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  width: 100%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  "q q q";
}
.imageonetwo {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwotwo {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethreetwo {
  grid-area: o;
}
.imagefourtwo {
  grid-area: q;
  margin-top: 2vh;
}
.titleonetwo {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonetwo {
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwotwo {
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* Third image page */
.thirdimage-title {
  padding-top: 3vh;
  position: relative;
  font-size: 3.5rem;
  max-height: 4em;
  font-weight: 600;
  color: var(--text);
  grid-row-start: 1;
  grid-column: 2;
  text-align: center;
}
.imagethreecontainer {
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  width: 100%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  ". . .";
}
.imageonethree {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwothree {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethreethree {
  grid-area: o;
}
.titleonethree {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonethree {
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwothree {
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* Fourth image page */
.fourthimage-title {
  padding-top: 3vh;
  position: relative;
  font-size: 3.5rem;
  max-height: 4em;
  font-weight: 600;
  color: var(--text);
  grid-row-start: 1;
  grid-column: 2;
  text-align: center;
}
.imagefourcontainer {
  justify-items: center;
  display: grid;
  grid-template-columns: 65% 35%;
  width: 100%;
  gap: 1%;
  height: 200vh;
  grid-template-areas: 
  "i i"
  "i i"
  "p p"
  "k k"
  "m o"
  "m o";
}
.imageonefour {
  grid-area: i;
  width: 100%;
  padding-bottom: 1vh;
}
.imagetwofour {
  grid-area: m;
  width: 100%;
  height: 100%;
}
.imagethreefour {
  grid-area: o;
  width: 100%;
  height: 100%;
}
.titleonefour {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonefour {
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1vh;
  text-align: center;
}
.texttwofour {
  grid-area: p;
  font-size: 20px;
  padding-bottom: 1vh;
  text-align: center;
}
/* Fith image page */
.fithimage-title {
  padding-top: 3vh;
  position: relative;
  font-size: 3.5rem;
  max-height: 4em;
  font-weight: 600;
  color: var(--text);
  grid-row-start: 1;
  grid-column: 2;
  text-align: center;
}
.imagefivecontainer {
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  width: 100%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  "r r r";
}
.imageonefive {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwofive {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethreefive {
  grid-area: o;
}
.imagefourfive {
  grid-area: r;
  padding-top: 4vh;
}
.titleonefive {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonefive {
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwofive {
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* Sixth image page */
.sixthimage-title {
  padding-top: 3vh;
  position: relative;
  font-size: 3.5rem;
  max-height: 4em;
  font-weight: 600;
  color: var(--text);
  grid-row-start: 1;
  grid-column: 2;
  text-align: center;
}
.imagesixcontainer {
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  width: 100%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  "q q q";
}
.imageonesix {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwosix {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethreesix {
  grid-area: o;
}
.imagefoursix {
  grid-area: q;
  padding-top: 4vh;
}
.titleonesix {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonesix {
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwosix {
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* footer */
footer {
    width: 100vw;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 10px;
    position: absolute; 
}
footer  {
    margin: 0;
}
