
/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: black;
    --light: white;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --background: white;
    --text: black;
    --icons: white;
    --subtext: black; font-weight: bold;
}
html {
    color: var(--dark);
    scroll-behavior: smooth;
}

.loadercontainer {
  display: grid;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: white;
  grid-template-rows: 50% 50%;
  grid-template-columns: 30% 40% 30%;
  grid-template-areas: 
  ". a ."
  ". b .";
}
.loaderimgtwo {
  grid-area: b;
  align-self: top;
  justify-self: center;
  position: relative;
  height: 20px;
  width: auto;
}
.loaderimgone {
  grid-area: a;
  margin-right: 30px;
  align-self: end;
  justify-self: center;
  position: relative;
  height: 200px;
  width: auto;
}
.loadercontainer.hidden {
  animation: fadeOut 2s 1s; 
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  80% {
    opacity: 80;
  }
  100% {
      opacity: 0;
      visibility: hidden;
  }
}
.showcase  {
  font-size: 20px;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
li {
  margin-bottom: 4.5vh;
}
.email {
  text-decoration: none;
  color: white;
}
body {
    background: var(--background);
    width: 100vw;
    margin: 0;
    font-family: Georgia!important;
}
img {
    width: 100%;
    height: 100%;
}
.filldiv {
  object-fit: cover;
  overflow: hidden;
}
.title {
  padding-top: 3vh;
  position: relative;
  font-size: 3.5rem;
  max-height: 4em;
  font-weight: 600;
  color: var(--text);
  text-align: center;
}
.wrapper {
  display: grid;
  padding-top: 2.8vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vh;
  background-image: url(img/background.jpg);
  background-attachment: fixed;
  backdrop-filter: blur(10px); 
}
.portfoliowrapper {
  display: grid;
  padding-top: 2.8vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vh;
  background-image: url(img/background.jpg);
  background-attachment: fixed;
}
.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.fade:hover {
  opacity: 50%;
}
/* slider container */
.slider-container {
  width: 100%;
  height: 80vh;
}
/* slider */
#slider {
  overflow: hidden;
}
#slider figure {
	position: relative;
  width: 500%;
  height: 80vh;
	margin: 0;
  animation: 30s slider infinite;
  animation-direction: alternate;
}
#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	40% {
		left: -100%;
	}
	45% {
		left: -200%;
	}
	60% {
		left: -200%;
	}
	65% {
		left: -300%;
	}
	80% {
		left: -300%;
	}
	85% {
		left: -400%;
  }
  100% {
    left: -400%;
  }
}
/* Top Bar */
.top-bar {
  transform: translateY(15%);
  display: grid;
  grid-template-columns: 10fr 44fr 117px 151px 168px;
}
.top-text {
  font-size: 1.1rem;
}
.logoa {
  transform: translateY(-40%);
  grid-column: 1;
  min-width: 110px;
}
.texta {
  padding-top: 2vh;
  font-weight: lighter;
  grid-column: 3;
}
.textb {
  padding-top: 2vh;
  font-weight: lighter;
  grid-column: 4;
}
.textc {
  padding-top: 2vh;
  font-weight: lighter;
  grid-column: 5;
}
.b {
    display: block;
    text-decoration: none;
    color: rgb(17, 11, 100);
}
.b:hover {
    color: grey;
}
.active {
    color: rgb(109, 161, 184);
}
/* portfolio Page */
.ptext {
  word-spacing: 4px;
  font-weight: lighter;
  font-size: 20px;
  color: var(--dark);
}
.cardcontainer {
  display: grid;
  width: 100%;
  height: 200vh;
  padding-top: 2vh;
  padding-bottom: 50vh;
  grid-template-columns: 49% 2% 49%;
  grid-template-rows: auto 3% auto 3% auto 3%;
  grid-template-areas: 
  "c . b"
  ". . ."
  "d . a"
  ". . ."
  "e . f"
  ". . ."
  "g g g";
}
.cardone {
  display: grid;
  grid-area: a;
  padding: 2%;
  height: 100%;
  background-color: white;
  grid-template-rows: 90% 4% 6%;
  grid-template-areas: 
  "a"
  "."
  "b";
}
.picone {
  width: 100%;
  height: 100%;
  grid-area: a;
}
.textone {
  grid-area: b;
}
.cardtwo {
  display: grid;
  grid-area: b;
  padding: 2%;
  height: 100%;
  background-color: white;
  grid-template-rows: 90% 4% 6%;
  grid-template-areas: 
  "a"
  "."
  "b";
}
.pictwo {
  width: 100%;
  height: 100%;
  grid-area: a;
}
.texttwo {
  grid-area: b;
}
.cardthree {
  display: grid;
  grid-area: c;
  padding: 2%;
  height: 100%;
  background-color: white;
  grid-template-rows: 90% 4% 6%;
  grid-template-areas: 
  "a"
  "."
  "b";
}
.picthree {
  width: 100%;
  height: 100%;
  grid-area: a;
}
.textthree {
  grid-area: b;
}
.cardfour {
  display: grid;
  grid-area: d;
  padding: 2%;
  height: 100%;
  background-color: white;
  grid-template-rows: 90% 4% 6%;
  grid-template-areas: 
  "a"
  "."
  "b";
}
.picfour {
  width: 100%;
  height: 100%;
  grid-area: a;
}
.textfour {
  grid-area: b;
}
.cardfive {
  display: grid;
  grid-area: e;
  padding: 2%;
  height: 100%;
  background-color: white;
  grid-template-rows: 90% 4% 6%;
  grid-template-areas: 
  "a"
  "."
  "b";
}
.picfive {
  width: 100%;
  height: 100%;
  grid-area: a;
}
.textfive {
  grid-area: b;
}
.cardsix {
  display: grid;
  grid-area: f;
  padding: 2%;
  height: 100%;
  background-color: white;
  grid-template-rows: 90% 4% 6%;
  grid-template-areas: 
  "a"
  "."
  "b";
}
.picsix {
  width: 100%;
  height: 100%;
  grid-area: a;
}
.textsix {
  grid-area: b;
}
.cardseven {
  display: grid;
  grid-area: g;
  padding: 2%;
  height: 100%;
  background-color: white;
  grid-template-rows: 95% 2% 3%;
  grid-template-areas: 
  "a"
  "."
  "b";
}
.picseven {
  width: 100%;
  height: 100%;
  grid-area: a;
}
.textseven {
  grid-area: b;
}
/* About page */
.aboutcontainerone {
  background-color: white;
  padding: 2%;
  padding-top: 2vh;
  display: grid;
  grid-template-columns: 25% 2% 73%;
  width: 96%;
  height: 140vh;
  grid-template-areas: 
  "a . b"
  "c c c";
}
.aboutcontainertwo {
  grid-area: a;
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 
  "q"
  "t";
}
.aboutcontainerthree {
  grid-area: b;
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 
  "r"
  "s"
  "u"
  "v"
  "a"
}
.aboutcontainerfour {
  grid-area: c;
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 
  "a b c d e"
}
.aboutimageone {
  grid-area: q;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.aboutimagetwo {
  grid-area: a;
}
.aboutimagethree {
  grid-area: b;
}
.aboutimagefour {
  grid-area: c;
}
.aboutimagefive {
  grid-area: d;
}
.aboutimagesix {
  grid-area: e;
}
.abouttextone {
  font-weight: lighter;
  color: var(--subtext);
  grid-area: r;
  font-size: 20px;
  word-spacing: 4px;
  line-height: 30px;
}
.abouttexttwo {
  font-weight: lighter;
  color: var(--subtext);
  grid-area: s;
  font-size: 20px;
  word-spacing: 4px;
  line-height: 30px;
}
.abouttextawards {
  font-weight: lighter;
  color: var(--subtext);
  grid-area: t;
  font-size: 20px;
  margin: auto;
  margin-top: 2vh;
  word-spacing: 4px;
  line-height: 30px;
}
.abouttextthree {
  font-weight: lighter;
  color: var(--subtext);
  grid-area: u;
  font-size: 20px;
  word-spacing: 4px;
  line-height: 30px;
}
.abouttextfour {
  font-weight: lighter;
  color: var(--subtext);
  grid-area: v;
  font-size: 20px;
  word-spacing: 4px;
  line-height: 30px;
}
.abouttextfive {
  font-weight: lighter;
  color: var(--subtext);
  grid-area: a;
  font-size: 20px;
  word-spacing: 4px;
  line-height: 30px;
}
/* First image page */
.imageonecontainer {
  padding: 2%;
  width: 96%;
  background-color: white;
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  "q q q";
}
.imageone {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwo {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethree {
  grid-area: o;
}
.imagefour {
  grid-area: q;
  margin-top: 2vh;
}
.titleone {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonep {
  word-spacing: 4px;
  line-height: 30px;
  font-weight: lighter;
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwop {
  word-spacing: 4px;
  line-height: 30px;
  font-weight: lighter;
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* Second image page */
.imagetwocontainer {
  background-color: white;
  padding: 2%;
  width: 96%;
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  "q q q";
}
.imageonetwo {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwotwo {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethreetwo {
  grid-area: o;
}
.imagefourtwo {
  grid-area: q;
  margin-top: 2vh;
}
.titleonetwo {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonetwo {
  word-spacing: 4px;
  line-height: 30px;
  font-weight: lighter;
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwotwo {
  word-spacing: 4px;
  line-height: 30px;
  font-weight: lighter;
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* Third image page */
.imagethreecontainer {
  background-color: white;
  padding: 2%;
  width: 96%;
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  ". . .";
}
.imageonethree {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwothree {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethreethree {
  grid-area: o;
}
.titleonethree {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonethree {
  word-spacing: 4px;
  line-height: 30px;
  font-weight: lighter;
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwothree {
  word-spacing: 4px;
  line-height: 30px;
  font-weight: lighter;
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* Fourth image page */
.imagefourcontainer {
  background-color: white;
  padding: 2%;
  width: 96%;
  justify-items: center;
  display: grid;
  grid-template-columns: 65% 35%;
  gap: 1%;
  height: 200vh;
  grid-template-areas: 
  "i i"
  "i i"
  "p p"
  "k k"
  "m o"
  "m o";
}
.imageonefour {
  grid-area: i;
  width: 100%;
  padding-bottom: 1vh;
}
.imagetwofour {
  grid-area: m;
  width: 100%;
  height: 100%;
}
.imagethreefour {
  grid-area: o;
  width: 100%;
  height: 100%;
}
.titleonefour {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonefour {
  word-spacing: 4px;
  line-height: 30px;
  font-weight: lighter;
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1vh;
  text-align: center;
}
.texttwofour {
  word-spacing: 4px;
  line-height: 30px;
  font-weight: lighter;
  grid-area: p;
  font-size: 20px;
  padding-bottom: 1vh;
  text-align: center;
}
/* Fith image page */
.imagefivecontainer {
  background-color: white;
  padding: 2%;
  width: 96%;
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  "r r r";
}
.imageonefive {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwofive {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethreefive {
  grid-area: o;
}
.imagefourfive {
  grid-area: r;
  padding-top: 4vh;
}
.titleonefive {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonefive {
  word-spacing: 4px;
  line-height: 30px;
  font-weight: lighter;
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwofive {
  word-spacing: 4px;
  line-height: 30px;
  font-weight: lighter;
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* Sixth image page */
.imagesixcontainer {
  background-color: white;
  padding: 2%;
  width: 96%;
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  "q q q";
}
.imageonesix {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwosix {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethreesix {
  grid-area: o;
}
.imagefoursix {
  grid-area: q;
  padding-top: 4vh;
}
.titleonesix {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonesix {
  word-spacing: 4px;
  line-height: 30px;
  font-weight: lighter;
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwosix {
  word-spacing: 4px;
  line-height: 30px;
  font-weight: lighter;
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* Seventh image page */
.imagesevencontainer {
  background-color: white;
  padding: 2%;
  width: 96%;
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  "q q q";
}
.imageoneseven {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwoseven {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethreeseven {
  grid-area: o;
}
.imagefourseven {
  grid-area: q;
  padding-top: 4vh;
}
.titleoneseven {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textoneseven {
  word-spacing: 4px;
  line-height: 30px;
  font-weight: lighter;
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwoseven {
  word-spacing: 4px;
  line-height: 30px;
  font-weight: lighter;
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* footer */
footer {
    display: grid;
    width: 100vw;
    background: var(--dark);
    color: var(--light);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-size: 16px;
    position: absolute;
    margin: 0;
    grid-template-columns: 15vw 6vw 10vw 16vw 4vw 25vw 16vw 10vw;
    grid-template-areas: 
    ". d a c e . b .";
}
.footerphone {
  font-weight: lighter;
  grid-area: a;
  margin: auto 0;
}
.footeremail {
  font-weight: lighter;
  grid-area: c;
  margin: auto 0;
}
.footerdesign {
  font-weight: lighter;
  grid-area: b;
  font-size: 10px;
  margin: auto 0;
}
.footercontact {
  font-weight: lighter;
  grid-area: d;
  margin: auto 0;
}
.instagram {
  grid-area: e;
  width: 30px;
  height: 30px;
  margin: auto 0;
}
@media (max-width: 1550px) {
  footer {
    grid-template-columns: 15vw 10vw 15vw 19vw 2vw 16vw 20vw 10vw;
  }
}
@media (max-width: 1070px) {
  footer {
    grid-template-columns: 10vw 10vw 21vw 30vw 2vw 4vw 20vw 10vw;
  }
  .ptext {
    font-size: 14px;
  }
  .aboutcontainerone {
    padding-top: 2vh;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    gap: 1%;
    height: 200vh;
    grid-template-rows: 35% 55% 10%;
    grid-template-areas: 
    "a"
    "b"
    "c";
  }
  .aboutcontainertwo {
    width: 100%;
    height: 100%;
    grid-template-columns: 49% 2% 49%;
    grid-template-areas: 
    "q . t";
  }
  .aboutcontainerthree {
    width: 100%;
    height: 100%;
    grid-auto-rows: auto;
  }
  .aboutcontainerfour {
    grid-template-columns: auto;
  }
}
@media (max-width: 800px) {
  footer {
    font-size: 12px;
    grid-template-columns: 15vw 20vw 34vw 2vw 19vw 10vw;
    grid-template-areas: 
    ". d a . b ."
    ". . c . . ."
    ". . e . . .";
  }
  .footeremail {
    padding-bottom: 1em;
  }
  .aboutcontainerone {
    padding-top: 2vh;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    gap: 1%;
    height: 200vh;
    grid-template-rows: 35% 55% 10%;
    grid-template-areas: 
    "a"
    "b"
    "c";
  }
  .aboutcontainertwo {
    width: 100%;
    height: 100%;
    grid-template-columns: 49% 2% 49%;
    grid-template-areas: 
    "q . t";
  }
  .aboutcontainerthree {
    width: 100%;
    height: 100%;
    grid-auto-rows: auto;
  }
  .aboutcontainerfour {
    grid-template-columns: auto;
  }
}
@media (max-width: 770px) {
  .title {
    font-size: 2.5rem;
  }
  .footerphone {
    margin-bottom: 1vh;
  }
  .top-bar {
    height: 20vh;
    display: grid;
    grid-template-columns: 10vw 29vw 7vw 24vw 10vw;
    grid-template-rows: 30px 20px 8px 20px 8px 20px;
    grid-template-areas: 
    " . a . . ."
    " . a . b . "
    " . a . . . "
    " . a . c . "
    " . a . . . "
    " . a . d . ";
  }
  .top-text {
      font-size: 1.1rem;
  }
  .logoa {
      position: absolute;
      grid-area: a;
      min-width: 110px;
      width: 180px;
      transform: translateY(0px);
      transform: translateX(-18px);
      justify-self: center;
  }
  .texta {
      grid-area: b;
  }
  .textb {
    grid-area: c;
  }
  .textc {
    grid-area: d;
  }
  .wrapper {
    padding-top: 0px;
  }
  .portfoliowrapper {
    padding-top: 0px;
  }
  .ptext {
    font-size: 13px;
  }
  .cardcontainer {
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 30vh;
    gap: 2%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
    justify-content: center;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g";
  }
  .cardseven {
    padding-bottom: 2vh;
  }
}
@media (max-width: 560px) {
  footer {
    text-align: center;
    font-size: 12px;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-areas: 
    ". d ."
    ". a ."
    ". c ."
    ". e ."
    ". b .";
  }
  .instagram {
    margin: auto;
    margin-bottom: 4vh;
  }
  .footercontact {
    margin-bottom: 1vh;
  }
  .footerphone {
    margin-bottom: 1vh;
  }
  .ptext {
    font-size: 13px;
  }
  .cardcontainer {
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 30vh;
    gap: 2%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
    justify-content: center;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g";
  }
  .cardseven {
    padding-bottom: 2vh;
  }
  .top-bar {
    height: 20vh;
    display: grid;
    grid-template-columns: 10vw 19vw 14vw 30vw 1vw;
    grid-template-rows: 30px 20px 8px 20px 8px 20px;
    grid-template-areas: 
    " . a . . ."
    " . a . b . "
    " . a . . . "
    " . a . c . "
    " . a . . . "
    " . a . d . ";
  }
  .aboutcontainerone {
    padding-top: 2vh;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    gap: 1%;
    height: 300vh;
    grid-template-rows: 35% 55% 10%;
    grid-template-areas: 
    "a"
    "b"
    "c";
  }
  .aboutcontainertwo {
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 35% 65%; 
    grid-template-areas: 
    "q"
    "t";
  }
  .imagefourcontainer {
    grid-template-areas: 
    "o o"
    "o o"
    "p p"
    "k k"
    "m i"
    "m i";
  }
  .imagefivecontainer {
    grid-template-areas: 
    "i i i"
    "i i i"
    "k k k"
    "m m m"
    "p p p"
    "o o o"
    "r r r";
  }
  .texttwofive {
    padding-bottom: 2.5vh;
    text-align: left;
  }
  .imagesixcontainer {
    grid-template-areas: 
    "i i i"
    "i i i"
    "k k k"
    "m m m"
    "p p p"
    "o o o"
    "q q q";
  }
  .texttwosix {
    padding-bottom: 2.5vh;
    text-align: left;
  }
  .imagesevencontainer {
    justify-items: center;
    display: grid;
    grid-template-columns: 48.5% 3% 48.5%;
    width: 100%;
    grid-template-areas: 
    "i i i"
    "i i i"
    "k k k"
    "m m m"
    "p p p"
    "o o o"
    "q q q";
  }
  .texttwoseven {
    padding-bottom: 2.5vh;
    text-align: left;
  }
}
@media (max-width: 400px) {
  .aboutcontainerone {
    padding-top: 2vh;
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    gap: 1%;
    height: 400vh;
    grid-template-rows: 29% 60% 10%;
    grid-template-areas: 
    "a"
    "b"
    "c";
  }
  .aboutcontainertwo {
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 35% 65%; 
    grid-template-areas: 
    "q"
    "t";
  }
}
@media (max-height: 600px) {
  .slider-container {
    height: 40vh;
    padding-top: 30px;
  }
  #slider figure {
    height: 40vh;
  }
}