
/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: black;
    --light: white;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --background: white;
    --text: black;
    --icons: white;
}
html {
    color: var(--dark);
    scroll-behavior: smooth;
}
.showcase  {
  font-size: 20px;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
li {
  margin-bottom: 4.5vh;
}
.email {
  text-decoration: none;
  color: white;
}
body {
    background: var(--background);
    width: 100vw;
    margin: 0;
    font-family: Georgia!important;
}
img {
    width: 100%;
    height: 100%;
}
.filldiv {
  object-fit: cover;
  overflow: hidden;
}
.wrapper {
    display: grid;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vh;
}
.portfoliowrapper {
  display: grid;
  padding-top: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 5vh;
}
.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.fade:hover {
  opacity: 50%;
}
/* slider container */
.slider-container {
  width: 100%;
  height: 80vh;
}
/* slider */
#slider {
  overflow: hidden;
}
#slider figure {
	position: relative;
  width: 500%;
  height: 80vh;
	margin: 0;
  animation: 30s slider infinite;
  animation-direction: alternate;
}
#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	40% {
		left: -100%;
	}
	45% {
		left: -200%;
	}
	60% {
		left: -200%;
	}
	65% {
		left: -300%;
	}
	80% {
		left: -300%;
	}
	85% {
		left: -400%;
  }
  100% {
    left: -400%;
  }
}
/* Top Bar */
.top-bar {
  transform: translateY(15%);
  display: grid;
  grid-template-columns: 10fr 44fr 117px 151px 168px;
}
.top-text {
    font-size: 1.1rem;
}
.logoa {
    transform: translateY(-40%);
    grid-column: 1;
    min-width: 110px;
}
.texta {
    grid-column: 3;
}
.textb {
    grid-column: 4;
}
.textc {
    grid-column: 5;
}
.textd {
    grid-column: 6;
}
.b {
    display: block;
    text-decoration: none;
    color: rgb(156, 36, 147);
}
.b:hover {
    color: grey;
}
.active {
    color: rgb(109, 161, 184);
}
/* PORTFOLIO PAGE */
.portfolio-container {
  width: 100%;
  padding-top: 2vh;
  gap: 2%;
  display: grid;
  overflow: hidden;
  height: 100%;
  grid-template-columns: 49% 49%;
  justify-content: center;
  grid-template-areas: 
  "e b"
  "g d"
  "f a"
  "h c"
  "m n"
  "i j"
  "q q"
  "p p";
}
.portfolio-text {
  color: var(--text);
  font-size: 20px;
  padding-bottom: 2vh;
}
.first-photo {
  grid-area: a;
  overflow: hidden;
}
.second-photo {
  grid-area: b;
  overflow: hidden;
}
.third-photo {
  grid-area: e;
  overflow: hidden;
}
.fourth-photo {
  grid-area: f;
  overflow: hidden;
}
.fith-photo {
  grid-area: m;
  overflow: hidden;
}
.sixth-photo {
  grid-area: n;
  overflow: hidden;
}
.seventh-photo {
  grid-area: q;
  overflow: hidden;
  min-height: 162px;
}
.first-text {
  grid-area: c;
}
.second-text {
  grid-area: d;
}
.third-text {
  grid-area: g;
}
.fourth-text {
  grid-area: h;
}
.fith-text {
  grid-area: i;
}
.sixth-text {
  grid-area: j;
}
.seventh-text {
  grid-area: p;
}
/* About page */
.aboutcontainerone {
  padding-top: 2vh;
  display: grid;
  grid-template-columns: 30% 2% 68%;
  width: 100%;
  height: 160vh;
  grid-template-areas: 
  "a . b"
  "c c c";
}
.aboutcontainertwo {
  grid-area: a;
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 
  "q"
  "t";
}
.aboutcontainerthree {
  grid-area: b;
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 
  "r"
  "s"
  "u"
  "v"
  "a"
}
.aboutcontainerfour {
  grid-area: c;
  position: relative;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: 
  "a b c d e"
}
.aboutimageone {
  grid-area: q;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.aboutimagetwo {
  grid-area: a;
}
.aboutimagethree {
  grid-area: b;
}
.aboutimagefour {
  grid-area: c;
}
.aboutimagefive {
  grid-area: d;
}
.aboutimagesix {
  grid-area: e;
}
.abouttextone {
  grid-area: r;
  font-size: 20px;
  word-spacing: 4px;
  line-height: 30px;
}
.abouttexttwo {
  grid-area: s;
  font-size: 20px;
  word-spacing: 4px;
  line-height: 30px;
}
.abouttextawards {
  grid-area: t;
  font-size: 20px;
  margin: auto;
  margin-top: 2vh;
  word-spacing: 4px;
  line-height: 30px;
}
.abouttextthree {
  grid-area: u;
  font-size: 20px;
  word-spacing: 4px;
  line-height: 30px;
}
.abouttextfour {
  grid-area: v;
  font-size: 20px;
  word-spacing: 4px;
  line-height: 30px;
}
.abouttextfive {
  grid-area: a;
  font-size: 20px;
  word-spacing: 4px;
  line-height: 30px;
}
/* First image page */
.firstimage-title {
  padding-top: 3vh;
  position: relative;
  font-size: 3.5rem;
  max-height: 4em;
  font-weight: 600;
  color: var(--text);
  grid-row-start: 1;
  grid-column: 2;
  text-align: center;
}
.imageonecontainer {
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  width: 100%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  "q q q";
}
.imageone {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwo {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethree {
  grid-area: o;
}
.imagefour {
  grid-area: q;
  margin-top: 2vh;
}
.titleone {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textone {
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwo {
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* Second image page */
.secondimage-title {
  padding-top: 3vh;
  position: relative;
  font-size: 3.5rem;
  max-height: 4em;
  font-weight: 600;
  color: var(--text);
  grid-row-start: 1;
  grid-column: 2;
  text-align: center;
}
.imagetwocontainer {
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  width: 100%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  "q q q";
}
.imageonetwo {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwotwo {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethreetwo {
  grid-area: o;
}
.imagefourtwo {
  grid-area: q;
  margin-top: 2vh;
}
.titleonetwo {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonetwo {
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwotwo {
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* Third image page */
.thirdimage-title {
  padding-top: 3vh;
  position: relative;
  font-size: 3.5rem;
  max-height: 4em;
  font-weight: 600;
  color: var(--text);
  grid-row-start: 1;
  grid-column: 2;
  text-align: center;
}
.imagethreecontainer {
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  width: 100%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  ". . .";
}
.imageonethree {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwothree {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethreethree {
  grid-area: o;
}
.titleonethree {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonethree {
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwothree {
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* Fourth image page */
.fourthimage-title {
  padding-top: 3vh;
  position: relative;
  font-size: 3.5rem;
  max-height: 4em;
  font-weight: 600;
  color: var(--text);
  grid-row-start: 1;
  grid-column: 2;
  text-align: center;
}
.imagefourcontainer {
  justify-items: center;
  display: grid;
  grid-template-columns: 65% 35%;
  width: 100%;
  gap: 1%;
  height: 200vh;
  grid-template-areas: 
  "i i"
  "i i"
  "p p"
  "k k"
  "m o"
  "m o";
}
.imageonefour {
  grid-area: i;
  width: 100%;
  padding-bottom: 1vh;
}
.imagetwofour {
  grid-area: m;
  width: 100%;
  height: 100%;
}
.imagethreefour {
  grid-area: o;
  width: 100%;
  height: 100%;
}
.titleonefour {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonefour {
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1vh;
  text-align: center;
}
.texttwofour {
  grid-area: p;
  font-size: 20px;
  padding-bottom: 1vh;
  text-align: center;
}
/* Fith image page */
.fithimage-title {
  padding-top: 3vh;
  position: relative;
  font-size: 3.5rem;
  max-height: 4em;
  font-weight: 600;
  color: var(--text);
  grid-row-start: 1;
  grid-column: 2;
  text-align: center;
}
.imagefivecontainer {
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  width: 100%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  "r r r";
}
.imageonefive {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwofive {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethreefive {
  grid-area: o;
}
.imagefourfive {
  grid-area: r;
  padding-top: 4vh;
}
.titleonefive {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonefive {
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwofive {
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* Sixth image page */
.sixthimage-title {
  padding-top: 3vh;
  position: relative;
  font-size: 3.5rem;
  max-height: 4em;
  font-weight: 600;
  color: var(--text);
  grid-row-start: 1;
  grid-column: 2;
  text-align: center;
}
.imagesixcontainer {
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  width: 100%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  "q q q";
}
.imageonesix {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwosix {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethreesix {
  grid-area: o;
}
.imagefoursix {
  grid-area: q;
  padding-top: 4vh;
}
.titleonesix {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textonesix {
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwosix {
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* Seventh image page */
.seventhimage-title {
  padding-top: 3vh;
  position: relative;
  font-size: 3.5rem;
  max-height: 4em;
  font-weight: 600;
  color: var(--text);
  grid-row-start: 1;
  grid-column: 2;
  text-align: center;
}
.imagesevencontainer {
  justify-items: center;
  display: grid;
  grid-template-columns: 48.5% 3% 48.5%;
  width: 100%;
  grid-template-areas: 
  "i i i"
  "i i i"
  "m . k"
  "m . o"
  "p . o"
  "q q q";
}
.imageoneseven {
  grid-area: i;
  padding-bottom: 1.5vh;
}
.imagetwoseven {
  grid-area: m;
  padding-bottom: 2.5vh;
}
.imagethreeseven {
  grid-area: o;
}
.imagefourseven {
  grid-area: q;
  padding-top: 4vh;
}
.titleoneseven {
grid-area: l;
font-size: 40px;
font-weight: 500;
}
.textoneseven {
  grid-area: k;
  font-size: 20px;
  padding-bottom: 1.5vh;
}
.texttwoseven {
  grid-area: p;
  font-size: 20px;
  text-align: right;
}
/* footer */
footer {
    display: grid;
    width: 100vw;
    background: var(--dark);
    color: var(--light);
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-size: 16px;
    position: absolute;
    margin: 0;
    grid-template-columns: 15vw 6vw 10vw 16vw 33vw 16vw 10vw;
    grid-template-areas: 
    ". d a c . b .";
}
.footerphone {
  grid-area: a;
}
.footeremail {
  grid-area: c;
}
.footerdesign {
  grid-area: b;
  font-size: 10px;
}
.footercontact {
  grid-area: d;
}
@media (max-width: 1550px) {
  footer {
    grid-template-columns: 15vw 10vw 18vw 24vw 10vw 16vw 10vw;
  }
}
@media (max-width: 1070px) {
  footer {
    grid-template-columns: 10vw 12vw 20vw 35vw 1vw 16vw 10vw;
  }
}
@media (max-width: 800px) {
  footer {
    grid-template-columns: 10vw 12vw 20vw 32vw 1vw 16vw 10vw;
  }
}
@media (max-width: 770px) {
  footer {
    font-size: 12px;
    grid-template-columns: 15vw 20vw 34vw 2vw 19vw 10vw;
    grid-template-areas: 
    ". d a . b ."
    ". . c . . .";
  }
  .footerphone {
    margin-bottom: 1vh;
  }
  .top-bar {
    height: 20vh;
    text-align: center;
    display: grid;
    place-items: center;
    grid-template-columns: 20vw 29vw 2vw 29vw 20vw;
    grid-template-rows: 30px 20px 8px 20px 8px 20px;
    grid-template-areas: 
    " . a . . ."
    " . a . b . "
    " . a . . . "
    " . a . c . "
    " . a . . . "
    " . a . d . ";
  }
  .top-text {
      font-size: 1.1rem;
  }
  .logoa {
      position: absolute;
      grid-area: a;
      min-width: 110px;
      width: 180px;
      transform: translateY(0px);
      transform: translateX(-18px);
      justify-self: center;
  }
  .texta {
      grid-area: b;
  }
  .textb {
    grid-area: c;
  }
  .textc {
    grid-area: d;
  }
  .wrapper {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .portfoliowrapper {
    padding-top: 0px;
  }
  .portfolio-container {
    width: 100%;
    padding-top: 2vh;
    gap: 0.5%;
    display: grid;
    height: 400vh;
    grid-template-columns: 100%;
    justify-content: center;
    grid-template-areas: 
    "e"
    "g"
    "b"
    "d"
    "f"
    "h"
    "a"
    "c"
    "m"
    "i"
    "n"
    "j"
    "q"
    "p";
  }
}
@media (max-width: 560px) {
  footer {
    text-align: center;
    font-size: 12px;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-areas: 
    ". d ."
    ". a ."
    ". c ."
    ". b .";
  }
  .footercontact {
    margin-bottom: 1vh;
  }
  .footerphone {
    margin-bottom: 1vh;
  }
  .footeremail {
    margin-bottom: 4vh;
  }
  .portfolio-container {
    width: 100%;
    padding-top: 2vh;
    gap: 0.5%;
    display: grid;
    height: 200vh;
    grid-template-columns: 100%;
    justify-content: center;
    grid-template-areas: 
    "e"
    "g"
    "b"
    "d"
    "f"
    "h"
    "a"
    "c"
    "m"
    "i"
    "n"
    "j"
    "q"
    "p";
  }
  .top-bar {
    height: 20vh;
    text-align: center;
    display: grid;
    place-items: center;
    grid-template-columns: 10vw 39vw 2vw 39vw 10vw;
    grid-template-rows: 30px 20px 8px 20px 8px 20px;
    grid-template-areas: 
    " . a . . ."
    " . a . b . "
    " . a . . . "
    " . a . c . "
    " . a . . . "
    " . a . d . ";
  }
}